dlib-bin==19.24.2
face-recognition @ git+https://github.com/zhujie330/face_recognition.git@master 
opencv-python-headless==4.9.0.80
torch==2.0.1
torchvision==0.15.2
numpy==1.26.4
streamlit==1.42.0
Pillow==10.1.0
psutil==6.0.0
matplotlib==3.9.1
torchcam==0.4.0
torch_dct== 0.1.6
scipy== 1.11.4
